.black{
    background-color: cadetblue;
    color: black;
}
.componente2{
    background-color:black;
    color: white;
    padding: 20px;
}
.btn{
    padding: 20px;
    color: black;
    background-color: blue;
    display: block;
    margin: 3px;
}