<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="black">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="black">
  <p>
    {{email}}
  </p>
  <p>
    <a href="{{webSite}}" target="blank">Perfil Web</a>
  </p> <br>
  <button class="btn" (click)="mostrarHobbies()">
    {{estado? 'Ocultar Hobbies': 'Mostrar Hobbies'}}
  </button>
  <div class="componente2" *ngIf="estado">
      <h3>hobbies:</h3>
      <ul>
        <li *ngFor="let hobbies of hobbies">  <!-- Con el montor de plantilla de Angular se llama -->
          {{hobbies}}
        </li>
      </ul>
  </div>

</div>